.btn-checkout {
  width: 300px;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  background: linear-gradient(226.59deg, #FFDC61 10.66%, #FF0010 93.78%);
  border: none;
}

.btn-checkout:hover {
  background: linear-gradient(226.59deg, #FFDC61 10.66%, #FF0010 93.78%);
  color:black;
  transform: scale(1.05);
}

.ButtonCheckout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
