body {
  background-color: black;
}

.cellphone-mock {
margin: auto;
margin-top: 50px;
border-radius: 20px;
display: flex;
height: 640px;
width: 360px;

}

.container {
  position: relative;
  background-image: url("./static/NerdBackground.svg");
  width: 100%;
  border-radius: inherit;
}
